<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/') } %> <% if (message) { %>
    <p class="notice"><%= message %></p>
    <% } %>

    <% if(locals.clientData.client_type == 'Client') { %>
        <h1>Welcome <%= locals.clientData.client_firstname %></h1>
        <% } 
        else if(locals.type == 'Employee' || 'Admin') { %>
        <h2>Welcome <%= locals.clientData.client_firstname %></h2>
        <h3>Inventory Management</h3>
        <p><a href="../../inv/">Click here</a></p>
       <% } %>